@model IEnumerable<Edi.Models.TradingPartners.Partnership>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerIDQualifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEdiID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorIDQualifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorEdiID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerIDQualifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEdiID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorIDQualifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorEdiID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
